<head>
    <style>
        body {
            text-align: center;
            background-color: #3d3d3d;
            color: #fafafa;
        }
    </style>
</head>
<body>
<h1 id="farook-al-sammarraie">Farook Al-Sammarraie</h1>
<h2 id="description">Description</h2>
<p>Born in 1997, first used a computer at 5, never left it since. I do programming, 3D art, general design, software design and planning, and some team management.</p>
<h2 id="skills">Skills</h2>
<h3 id="application-languages">Application Languages</h3>
<ul>
<li>C</li>
<li>C++</li>
<li>C#</li>
<li>Java</li>
<li>python</li>
<li>Dart</li>
<li>PHP</li>
</ul>
<h3 id="frameworks">Frameworks</h3>
<ul>
<li>Crow</li>
<li>Flask</li>
<li>FLutter</li>
<li>QT</li>
</ul>
<h3 id="other-not-so-programming-languages">Other not so programming languages</h3>
<ul>
<li>SQL</li>
<li>HTML</li>
<li>CSS</li>
</ul>
<h3 id="other-skills">Other skills</h3>
<ul>
<li>Debugging and troubleshooting</li>
<li>Project planning and management</li>
<li>Software design</li>
<li>Solution research</li>
<li>Software optimization</li>
</ul>
<h2 id="languages">Languages</h2>
<p>Bilingual (English and Arabic) + limited knowledge in French, Turkish, and German</p>
<h2 id="experience">Experience</h2>
<h3 id="crowcpp-maintainer">CrowCpp - Maintainer</h3>
<p>Maintained and added various features Crow, a C++ web framework.</p>
<h3 id="reampt-back-end-developer-sysadmin">Reampt - Back End Developer - SysAdmin</h3>
<p>Built and maintained the company&#39;s work server and systems (mainly Redmine), in addition to creating a RESTful API in Flask.</p>
<h3 id="hotech-mobile-developer">Hotech - Mobile developer</h3>
<p>Was involved with developing 2 Flutter applications, in addition to creating the general application architecture and data retrieval systems on the 2 applications, plus the application UI itself (several pages and elements for the first application, and all of the second&#39;s).  I was also responsible for revamping the flutter back-end systems and getting them to work for both applications, resulting in significant performance increase and making other developers&#39; work much easier and less stressful.  oh I also single handedly wrote almost all of the development guide for the flutter team.</p>
<h3 id="xhai-studios-game-developer">Xhai Studios - Game Developer</h3>
<p>Was involved in developing a mobile game (even though it wasn&#39;t in my direct field of experience), I established most of the design processes for the game, wrote code for the game, optimized assets, and even created some, created levels, rigged and animated characters, dealt with lighting, designed UI, and finally optimized the game to run at 60FPS on 4 year old hardware, which worked.</p>
<h3 id="egs-game-developer-designer">EGS - Game developer / Designer</h3>
<p>Designed and helped implement 2 separate project with a development team of friends.</p>
</body>